@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Space+Grotesk:wght@300..;700&display=swap');

body {
    /* font-family: 'Space Grotesk', sans-serif; */
    font-family: 'Major Mono Display', monospace;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;

}

.currentTimeFrameSection {
    font-size: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.currentTimeFrameLabel {
    text-align: center;
    line-height: 140%;
}

.currentTimeFrameValue {
    text-transform: uppercase;
    font-family: 'Major Mono Display', monospace;
    font-size: 56px;
}

.redIcon svg path {
    stroke: red;
}

.yellowIcon svg path {
    stroke: yellow;
}

.greenIcon svg path {
    stroke: green;
}

.nextTimeFrameSection, .nextTimeFrameSection > * {
    font-size: 24px;
    text-align: center;
}

.nextTimeFrameSection {
    margin-top: 100px;
}

.nextTimeFrameCountdown {
    font-family: 'Major Mono Display', monospace;
    
}

.label {
    opacity: .7;
}